@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{ ViewData["Title"] = "Kullanıcı Listesi"; }

<h1>Kullanıcı Listesi</h1>

<p>
    <a asp-action="Ekle" class="btn btn-primary">Kullanıcı Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
       
        <a asp-action="Detay" asp-route-id="@item.Id">Detay</a> 
        <a asp-action="Sil" asp-route-id="@item.Id">Sil</a> 
        <a asp-action="KullaniciyaRolVer" asp-route-id="@item.Id">Kullanıcıya Rol Ver</a>
    </td>
</tr>}
    </tbody>
</table>
